# pip install -r requirements.txt --use-deprecated=legacy-resolver

# base ----------------------------------
numpy==1.19.5
tqdm>=4.41.1
requests>=2.23.0

# API framework --------------------------
fastapi==0.104.1
uvicorn

# deep learning -------------------------
tensorflow~=2.5.0
torch==2.1.1
transformers==4.35.2

# GuessLang ------------------------------
guesslang==2.2.1

# Others ------------------------------
protobuf==3.19.6
accelerate
typing_extensions==4.8.0
httpx
pytest
pyinstaller
auto-py-to-exe
python-multipart